.japanBox1,
.japanBox2,
.japanBox3,
.japanBox4,
.akihabara,
.animateAki,
.supeTaterAki,
.shrineAki,
.shibuya,
.museumShbya,
.shrineShbya,
.parkShbya,
.usBox1 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 10px;
    display: none
}

.animateAkiEnd1,
.animateAkiEnd2,
.supeTaterAkiEnd1,
.supeTaterAkiEnd2,
.shrineAkiEnd1,
.shrineAkiEnd2,
.museumShbyaEnd1,
.museumShbyaEnd2,
.shrineShbyaEnd1,
.shrineShbyaEnd2,
.parkShbyaEnd {
    margin: auto;
    padding: 10px;
    display: none
}

body {
    background-color: #cfebfc;
}

h1 {
    color: black;
}

.fixed {
    position: fixed;
    text-align: center;
    top: 10%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
}

.countries {
    margin: auto;
    padding: 10px;
    display: flex;
    column-gap: 20px;
}

.country1 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/USA_orthographic.svg/1024px-USA_orthographic.svg.png);
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-image: linear-gradient(to bottom, red, white, blue) 1;
    display: block
}

.country2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/EU-Germany_%28orthographic_projection%29.svg/1024px-EU-Germany_%28orthographic_projection%29.svg.png);
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-image: linear-gradient(to bottom, black, rgb(211, 0, 0), rgb(255, 165, 0)) 1;
    display: block
}

.country3 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Japan_%28orthographic_projection%29.svg/1024px-Japan_%28orthographic_projection%29.svg.png);
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-image: linear-gradient(to top, white, red, white) 1;
    display: block
}

.japanBoxContent,
.usBoxContent {
    padding: 5px;
    height: 400px;
    width: 400px;
    border: transparent;
    display: flexbox;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    border: none;
    color: Black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    transition: 0.4s ease;
}

button:hover {
    color: white;
    background-color: #007bff;
    transform: scale(1.25);
    border: none;
}